h1 {text-align: center; font-style: oblique;}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .custom-input {
    width: 250px;
  }

  .btn-primary{
    background-color: #528AAE;
  }

  .btn-primary:hover {
      background-color: #2E5984;
  }

.form {
  background-color: #FBF9F6;
  display: block;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}